{{define "game"}}
<!doctype HTML>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
  <title>Game {{ .Name | printf "%q" }}</title>
</head>
<body>
  <h1>Game {{ .Name | printf "%q" }}</h1>
</body>
</html>
{{end}}
