{{define "index"}}
<!doctype HTML>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
  <title>Singing Contest</title>
</head>
<body>
  <h1>Singing Contest</h1>
  <hr />
  <form hx-post="/games/new/" hx-target="#game-new" hx-swap="outerHTML">
    <input type="text" name="name" placeholder="Game name" required />
    <button type="submit">Create</button>
  </form>
  <hr />
  <ul class="list-disc list-inside">
    {{range .}}
    <li id="game-{{.ID}}" class="flex gap-2">
      <a class="underline" href="/games/{{.ID}}/">{{.Name}}</a>
      <button hx-delete="/games/{{.ID}}/" hx-target="#game-{{.ID}}" hx-swap="outerHTML">
        Delete
      </button>
    </li>
    {{end}}
    <li class="hidden" id="game-new"></li>
  </ul>
</body>
</html>
{{end}}
